.deadlink_container {
    position: absolute;
    display: block;
    top: 20px;
    right: 30px;
    width: 230px;
    height: 190px;
    background-color: rgb(71, 155, 76);
    color: white !important;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    text-decoration: none !important;
}

.deadlink_container:visited {
    color: white !important;
}

.deadlink_close {
    position: absolute;
    right: 25px;
    font-size: 20px;
}

.deadlink_gif {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 108px;
    background-image:url('chrome-extension://__MSG_@@extension_id__/link.gif');
    background-size: cover;
}

